* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    font-size: x-large;
    color: rgb(77, 24, 123);
    margin-top: 50px;
    font-family: 'Satisfy', cursive;
}

body {
    min-height: 200vh;
    background-color:cadetblue;
    display: grid;
    place-items: center;
    background-repeat: no-repeat;
}

.calculadora {
    background-color:blueviolet;
    color: rgb(251, 251, 251);
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

.pantalla {
    grid-column: 1 / -1;
    background-color:rgb(7, 7, 7);
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
}

.btn {
    background-color:rgb(5, 249, 237);
    color: rgb(7, 7, 7);
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 2cap;
}

.btn:hover {
    background-color:darkslateblue ;
}

#cero {
    grid-column: span 2;
}

#igual {
    grid-row: span 2;
    background-color:rgb(234, 115, 222);
}

#igual:hover {
    background-color: darkslateblue;
}